/* components */
.card {
    border: 1px solid black; 

    -webkit-border-radius : 5px;
    border-radius: 5px;
    /*
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 5px;
    */
    
    padding: 5px 10px 10px 5px;
}